@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Sans+KR');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,900;1,900&family=Saira+Semi+Condensed:wght@600&display=swap');
@import './variables.scss';

$bg-color: #1a202c;

body {
  line-height: 1.6;
  font-size: $font-size-default;
  font-family: 'Noto Sans KR', 'Noto Sans', 'Malgun Gothic', sans-serif;
  color: $black;
  background: $bg-color;
}
