@import '~styles/modules/mixin.scss';

#room {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;

  .joined {
    background-color: #286381;

    >div {
      min-height: 500px;
    }
  }

  .gate-container {
    height: 100vh;
    background-color: #fff;
  }

  // 모바일디바이스에서 상태 숨김
  .hide-status {
    @include mobileDevice {
      display: none;
    }
  }
}

.head-section {
  min-height: 50px;
}