@import '~styles/modules/mixin.scss';

#room {
  display: flex;
  justify-content: center;
  align-items: center;

  .joined {
    background-color: #286381;
  }

  .gate-container {
    height: 100vh;
    background-color: #fff;
  }
}

.head-section {
  h2 {
    display: flex;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
}
