.game-timer {
  position: relative;
  min-width: 120px;
  height: 40px;
  display: inline-flex;
  justify-content: left;
  align-items: center;

  .timer-emoji {
    font-size: 30px;
    margin-right: 10px;
  }
}
