.round-result-rank {
  li {
    display: flex;
    justify-content: space-between;

    + li {
      margin-top: 16px;
    }

    strong {
      margin: 0 10px;
    }
    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    .rank-name {
      display: flex;
    }
  }
}
