@import '~@/styles/modules/mixin.scss';

.user-list {
  height: 100%;
  overflow-y: auto;
  list-style: none;
  padding: 10px;

  @include mobileDevice {
    overflow-x: auto;
    display: flex;
    align-items: center;
    padding: 0 4px;
  }

  li {
    position: relative;

    + li {
      margin-top: 10px;

      @include mobileDevice {
        margin: 0 0 0 4px;
      }
    }
  }

  .profile-wrap {
    position: relative;
    padding-left: 60px;
    margin: 0;
    border: solid 2px transparent;

    @include mobileDevice {
      padding: 5px 5px 5px 30px;
    }

    .profile-avatar {
      @include mobileDevice {
        zoom: 0.7;
      }
    }

    &.painter {
      border-color: var(--chakra-colors-pink-300);

      .profile-avatar {
        zoom: 1.5;
        left: 4px;
        animation: avatarShake 0.4s infinite linear alternate;

        @include mobileDevice {
          zoom: 0.9;
        }
      }
    }

    @keyframes avatarShake {
      0% {
        transform: rotate(-8deg);
      }

      0% {
        transform: rotate(8deg);
      }
    }

    .profile-avatar {
      position: absolute;
      top: 0;
      left: 12px;
    }

    .point {
      display: inline-block;
      width: 100%;
      text-align: right;
    }
  }

  .nickname {
    @include ellipsis();

    @include mobileDevice {
      font-size: 13px;
    }
  }
}
