@import '~styles/modules/mixin.scss';

.home-wrap {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include primaryBackground();

  .room-list-wrap {
    position: relative;
    padding: 20px;
    width: 380px;
    height: 458px;
    border-radius: 10px;
    background-color: #fff;

    h1 {
      position: absolute;
      top: -80px;
      left: 0;
    }

    ul {
      padding: 0 2px;
      height: calc(100% - 69px);
      list-style: none;
      overflow-x: hidden;
      overflow-y: auto;

      button {
        display: block;
        margin-bottom: 10px;
        padding: 15px 25px;
        width: 100%;
        background: rgba(0, 0, 0, 0.05);
        border-radius: 6px;
        font-size: 18px;
        color: #333;
        text-align: left;

        &.active {
          // background-color: #1d5284;
          background-color: #85dec4;
        }
      }
    }
  }
}
