@import '~@/styles/modules/mixin.scss';

// 채팅
.chat-list-wrap {
  position: relative;

  ul {
    position: relative;
    padding: 10px 10px 20px 10px;
    height: 100%;
    overflow-y: auto;

    &.hide-scrollbar {
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);
    animation: chatDownMotion 0.6s infinite alternate ease-in-out;
    z-index: 10;

    @keyframes chatDownMotion {
      0% {
        transform: translate(-50%, 0);
      }

      100% {
        transform: translate(-50%, 5px);
      }
    }
  }

  &::after {
    content: '';
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(to top, var(--chakra-colors-gray-300), rgba(226, 232, 240, 0));
  }

  ul {
    margin-bottom: 20px;
    list-style: none;

    li {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .nickname {
    width: 80%;
    margin-bottom: 2px;
    font-size: 12px;
    @include ellipsis();
  }

  .body {
    display: inline-block;
    white-space: pre-line;
    word-break: break-all;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
    font-size: 14px;
  }

  .mine {
    position: relative;

    &::after {
      clear: both !important;
      display: block;
      content: '';
    }

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      bottom: 0;
      right: 0;
      bottom: -5px;
      border-top: 10px solid var(--chakra-colors-yellow-300);
      border-left: 10px solid transparent;
    }

    .nickname {
      display: none;
    }

    .body {
      float: right;
      background: var(--chakra-colors-yellow-300);
    }
  }

  .system {
    .body {
      width: 100%;
      background: rgba(0, 0, 0, 0.22);
      color: #fff;
    }

    &::before {
      content: 'ⓘ';
      display: inline-block;
    }
  }
}

.chat-input-wrap {
  $height: 100%;

  textarea {
    min-height: $height;
    font-size: 16px;
  }

  button {
    height: $height;
  }
}
