@import '~styles/modules/mixin.scss';

// 채팅
.chat-list-wrap {
  padding: 10px;
  height: 100%;
  overflow-y: auto;
  border-bottom: solid 1px var(--chakra-colors-gray-200);

  ul {
    margin-bottom: 20px;
    list-style: none;

    li {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .nickname {
    width: 80%;
    margin-bottom: 2px;
    font-size: 12px;
    @include ellipsis();
  }

  .mine {
    position: relative;
    &::after {
      clear: both !important;
      display: block;
      content: '';
    }

    &::before {
      content: '';
      width: 10px;
      height: 10px;
      position: absolute;
      bottom:0;
      right:0;
      bottom: -5px;
      border-top: 10px solid var(--chakra-colors-yellow-300);
      border-left: 10px solid transparent;
    }

    .nickname {
      display: none;
    }

    .body {
      float: right;
      background: var(--chakra-colors-yellow-300);
      white-space: pre-line;
      word-break: break-all;
      font-size: 14px;
    }
  }

  .body {
    display: inline-block;
    padding: 5px 10px;
    background-color: #fff;
    border-radius: 5px;
  }
}

.chat-input-wrap {
  $height: 100%;

  textarea {
    min-height: $height;
    font-size: 16px;
  }

  button {
    height: $height;
  }
}
