@import '~styles/modules/mixin.scss';

.tool-type-wrap {
  button {
    width: 60px;
    height: 40px;
    font-size: 0;
    border: solid 1px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.1);

    @include mobileDevice {
      width: 50px;
      height: 30px;
    }

    // icon
    &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: #bbb;

      @include mobileDevice {
        transform: scale(0.7);
      }
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.15);

      &::after {
        background-color: rgba(0, 0, 0, 0.15);
      }
    }

    &[data-active] {
      background-color: #4299e1;

      &::after {
        background-color: #fff;
        zoom: 1.1;
      }
    }
  }

  .PEN {
    &::after {
      mask: url('~assets/img/brush.svg') no-repeat 50% 50%;
    }
  }

  .ERASER {
    &::after {
      mask: url('~assets/img/eraser.svg') no-repeat 50% 50%;
    }
  }

  .CLEAR_ALL {
    &::after {
      mask: url('~assets/img/trash-can.svg') no-repeat 50% 50%;
      mask-size: 80%;
    }
  }
}

.brush-control {
  display: flex;
  align-items: center;

  .brush-size {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    margin-right: 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);

    span {
      display: inline-block;
      border-radius: 50%;
      width: 15px;
      height: 15px;
      transform-origin: center;
    }
  }
}
