$size: 22px;

.palette-card {
  position: relative;
  display: inline-block;
  margin: 2px 2px 0 2px;
  width: $size;
  height: $size;
  border-radius: 3px;
  cursor: pointer;
  border: solid 2px rgba(255, 255, 255, 0);

  &.selected {
    border-color: rgb(81, 92, 255);
  }

  .icon-checked {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
