@import '~styles/modules/mixin.scss';

.gate-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .chakra-form-control {
    width: 360px;
  }

  @include mobileDevice {
    justify-content: flex-start;
  }
}
